@using ImagePrint.Models.ViewModels
@model List<ImagePrint.Models.ViewModels.ImageDetail>

<div>
    @ViewBag.Error
</div>

@using (Html.BeginForm("SetImageDetails","Print", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="@Url.Content(Model[i].Image.ImageName)" alt="Image" class="card-img-top img-thumbnail" style="max-width:100%" />
                    <div class="card-body">
                        <div class="form-group">
                            @Html.Label(Path.GetFileNameWithoutExtension(Model[i].Image.ImageName))
                        </div>
                        <div class="form-group">
                            @Ajax.ActionLink("Delete AJAX", "DeleteImage", "Print", 
                               new {
                                   orderId = Model[i].OrderDetail.OrderId,
                                   imageId = Model[i].OrderDetail.ImageId
                               }, 
                               new AjaxOptions() { 
                                   HttpMethod = "POST"
                               }, 
                               htmlAttributes: new { @class = "btn btn-danger text-white text-decoration-none" })
                        </div>
                        <div class="form-group row">
                            @Html.Label("Choose Size", htmlAttributes: new { @class = "control-label col" })
                            <div class="col">
                                @Html.DropDownListFor(model => model[i].Size.Size1, (List<SelectListItem>)ViewBag.SizeList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model[i].Size, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> 
}