@using ImagePrint.Models
@model ImagePrint.Models.ViewModels.PrintViewModel
@{
    ViewBag.Title = "UploadImage";
}

@if (ViewBag.Image != null)
{
    <div>@ViewBag.Image.ImageName</div>
}

<h2>Upload Image</h2>
<h2>@Html.DisplayFor(m => m.UserOrder.CusId)</h2>

@using (Html.BeginForm("UploadImage", "Print", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserOrder.CusId)
        @Html.HiddenFor(model => model.UserOrder.OrderId)
        <div class="form-group">
            @Html.Label("Choose file upload")
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })*@
                <input class="btn btn-default" type="file" name="uploadImg" id="image" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-warning" />
                <span class="btn btn-success">Go to Payment</span>
            </div>
        </div>

    </div>
}