@using ImagePrint.Models
@using Newtonsoft.Json
@model ImagePrint.Models.ViewModels.PrintViewModel
@{
    ViewBag.Title = "UploadImage";
}

@if (ViewBag.Image != null)
{
    <div>@ViewBag.Image.ImageName</div>
}

<h2>Upload Image</h2>

<div class="text-danger">
    @ViewBag.Error
</div>

@using (Html.BeginForm("UploadImage", "Print", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("model", JsonConvert.SerializeObject(Model))
        <div class="form-group">
            @Html.Label("Choose image to upload")
            <div class="col-md-10">
                <input class="btn btn-light text-info" type="file" name="uploadImg" id="image" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-warning" />
            </div>
        </div>

    </div>
}

@if (Model.ImageDetailList != null && Model.ImageDetailList.Count > 0)
{
    @Html.Partial("_OrderDetailsList", Model.ImageDetailList)
}
