@using ImagePrint.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href='@Url.Action("Index","Home", new { area = "" })'>
            <span class="btn my-btn btn-xs btn-outline-primary">
                <b>To Homepage !</b>
            </span>
        </a>
        <a href='@Url.Action("Login","LoginCustomer", new { area = "" })'>
            <span class="btn my-btn btn-xs btn-outline-info">
                <b>Print Image</b>
            </span>
        </a>
        <div class="navbar-collapse collapse mr-auto">
            @if (Session["admin"] != null)
            {
                Member admin = (Member)Session["admin"];
                <ul class="nav navbar-nav sign-in-out ml-md-auto m-2">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="#">
                            <i class="fa-unlock-alt" aria-hidden="true">Wellcome,<span style="color:aqua;">@admin.UserM</span> </i>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Customers")"> Manage Customers Info</a></li>
                    <li class="nav-item"><a class="nav-link text-white bg-danger text-decoration-none" href='@Url.Action("LogOut","AdminLogin")'>Sign Out</a></li>
                </ul>

            }
            else
            {
                <ul class="nav navbar-nav sign-in-out ml-md-auto m-2">
                    <li class="nav-item"><a class="nav-link" href='@Url.Action("Index","AdminLogin")'>Admin Sign In</a></li>
                </ul>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Image Print Site</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>